* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #384047;
   /* 자식들의 요소를 가로 가운데로 정렬 */
   display: flex; /* 부모에서 사용 */
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100vh;
}

main {
   /*
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   */
   
   /* 
   body 태그에서 display:flex로 전체 레이아웃을 센터로 지정했고
   이제 grid로 버튼들과 canvas를 나란히 가로정렬하고 버튼들을 정렬
   */
   display: grid; /* 자식에서 사용 */

   grid-template-columns: 40px 600px;
   /* 그리드 컬럼을 각각 40px - 버튼넓이
   60px - canvas넓이 2개로 정렬
   */
   
   column-gap: 10px; 
   /* 버튼들 사이 간격 */


}

ul li {
   list-style: none;
}

canvas {
   border-radius: 10px;
}

button {
   width: 40px;
   height: 40px;
   margin-bottom: 10px;
   
   font-size: 0px; 
   /* 폰트는 감춰둔다. 그런데 이렇게 하면 지우개 아이콘과 다운로드 아이콘도 함께 없어진다. 아이콘도 텍스트처럼 취급이 되기 때문이다 따라서 지우개와 다운로드 버튼만 control-btn이란 클래스를 두고 따로 스타일 지정*/
   
   border: 1px solid transparent;
   /* 밑에 button.selected로 색깔 있는 버튼만 테두리를 1px로 넣을거니깐 색깔만 투명하게 지정 
   /* border: none; 테두리를 깔끔하게 없애고 싶으면 none사용*/

   border-radius: 5px;
}

button.selected{
   border: 1px solid white;
}

button.red {
   background-color: red;
}

button.green {
   background-color: green;
}

button.blue {
   background-color: blue;
}

button.black {
   background-color: black;
}

button.control-btn{
   /* 위에 button 속성으로 font-size:0;으로 뒀기 때문에 여기서 지우개, 다운로드 버튼만 16px로 지정 */
   font-size: 16px;
}

button.control-btn.selected:hover{
   color:rgb(68, 133, 159);
}

